@import "tailwindcss";

@font-face {
  font-family: "NanumSquare";
  src: url("../public/fonts/NanumSquareR.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "NanumSquare";
  src: url("../public/fonts/NanumSquareB.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Tailwind의 기본 sans 폰트로 설정 */
:root {
  --font-sans: "NanumSquare", sans-serif;
}

@layer utilities {
  .scrollbar-yellow::-webkit-scrollbar {
    width: 6px;
  }
  .scrollbar-yellow::-webkit-scrollbar-track {
    background: transparent;
  }
  .scrollbar-yellow::-webkit-scrollbar-thumb {
    background-color: #facc15; /* yellow-400 */
    border-radius: 9999px;
  }
}

@theme {
  --breakpoint-desktop: 75rem;
  --breakpoint-tablet: 47rem;
  --breakpoint-mobile: 24rem;
}
